<!-- CREDIT TO cs161-staff/textbook -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/curriculum-site/assets/favicons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/curriculum-site/assets/favicons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/curriculum-site/assets/favicons/favicon-16x16.png"
/>
<link rel="manifest" href="/curriculum-site/assets/favicons/site.webmanifest" />
<link
  rel="mask-icon"
  href="/curriculum-site/assets/favicons/safari-pinned-tab.svg"
  color="#5bbad5"
/>
<script
  type="text/javascript"
  async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"
></script>
<script>
  let toggleDark = () => {
    let setDark = jtd.getTheme() !== 'dark';
    jtd.setTheme(setDark ? 'dark' : 'default');
    localStorage.setItem('darkMode', String(setDark));
  };

  window.addEventListener('DOMContentLoaded', () => {
    let a = document.getElementsByClassName('site-button')[2];
    a.addEventListener('click', (e) => {
      e.preventDefault();
      toggleDark();
    });

    if (localStorage.getItem('darkMode') === 'true') {
      toggleDark();
    }
  });
</script>
